<h1>Users</h1>

<table  border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
            <td>{{user.email}}</td>
        </tr>
    </tbody>
</table>

<h2>Add new User</h2>

<form [formGroup]="userForm" (ngSubmit)="submit()">

    <label>First name</label><br>
    <input type="text" formControlName="name"><br><br>
    
    
    <label>Age</label><br>
    <input type="number" formControlName="age"><br><br>

    <label>Email</label><br>
    <input type="text" formControlName="email"><br><br>

    <button type="submit" [disabled]="userForm.invalid">Submit</button>
</form><br><br>

<button (click)="navigateToHome()">Home</button>